/*Home.jsx - style*/

.blueGreenBackground {
  background: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Futuna';
}

.custom-color{
  background-color: #92FE9D;
  color: black;
  padding: 20px 30px;
  border-radius: 20px;
}

.createButton {
  background-color: #92FE9D;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 18px;
  margin-bottom: 10px;
}

.divCreate{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.marginRight {
  margin-right: 15px;
}

.readButton {
  background-color: #92FE9D;
  color: black;
}

.editButton {
  background-color: #00C9FF;
  color: black;
}

.deleteButton {
  background-color: #ff0015;
  color: black;
}

.smallColumn {
  width: 120px;
}

.table-wrapper {
  height: 70vh;
  overflow-y: auto;
  width: 100%;
}

.table {
  width: 100%;
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  border-collapse: collapse;
  border: 2px;
}

.table th, .table td {
  border: 2px solid linear-gradient(to right, #00C9FF, #92FE9D);
  padding: 10px;
}

.table th {
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  color: #000;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}

.tableHeader {
  background-color: #90EE90;
  color: #000;
  position: sticky;
  top: -1px;
  z-index: 1;
}

.tableCell {
  border: 2px solid linear-gradient(to right, #00C9FF, #92FE9D);
  padding: 8px;
  text-align: center;
  color: #fff;
}

.button {
  margin: 0 5px;
}

/*Create.jsx - style*/

.createBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  font-family: 'Futuna';
  padding: 0 450px;
}

.addSeller {
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  color: #000;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
}

.container {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.details label {
  display: block;
  margin-bottom: 5px;
}

.details input,
.details select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.homeButton {
  display: flex;
  justify-content: right;
  margin-bottom: 8px;
}

.saveButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*Read.jsx - style*/

.readBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  font-family: 'Futuna';
}

.coNtainer {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  width: 400px;
}

.backButton {
  margin-bottom: 5px;
  background-color: #92FE9D;
  color: black;
}

/*Edit.jsx - style*/

.editBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F8F8FF;
  font-family: 'Futuna';
  padding: 0 20px;
}

.editContainer {
  background: linear-gradient(to right, #00C9FF, #92FE9D);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.editTitle {
  background-color: #F8F8FF;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 20px;
}

.editBackButton {
  margin-bottom: 5px;
  background-color: #92FE9D;
  color: black;
}

.editDetails {
  margin-bottom: 20px;
}

.editDetails label {
  display: block;
  margin-bottom: 5px;
}

.editDetails input,
.editDetails select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.editSaveButton {
  margin-bottom: 5px;
  background-color: #92FE9D;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.editSaveButton .btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}